<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/tiny-02-512.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>

        <div class="main-name">
             {{>header}}
             <p>This site was created using mappbox and weatherstack</p>
        <img class="portrait" src="./img/original.jpg">

        </div>
       
        {{>footer}}
    </body>
</html>